.chat-container {
    background-color: white;
    width: 350px;
    height: 480px;
    position: fixed;
    bottom: 62px;
    right: 20px;
    border-radius: 5px;
    z-index: 999;
    border: 3px solid #2E8B57;
}

.chat-title {
    color: white;
    background-color: #2E8B57;
    width: 100%;
    height: 40px;
}

.chat-conversation {
    background-color: #fafafa;
    width: 100%;
    height: 380px;
    overflow-y: scroll;
}


.chat-input {
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0 14px;
    border-top: 5px solid gray;
}

.chat-message {
    padding: 5px;
    border-radius: 5px;
    max-width: 85%;
}

.chat-clear {
    clear: both;
}

.chat-input-text {
    text-align: left;
    height: 45px;
    width: 95%;
    border: 0px solid transparent;
    outline: none;
}

.chat-input-button {
    background-color: transparent;
    text-align: center;
    height: 45px;
    border: 0px solid transparent;
    outline: none;
}

.chat-input-button:focus {
    outline: none;
}

.input-row {
    margin-top: 2px;
}

.loading-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.chat-open-button {
    position: fixed;
    bottom: 65px;
    right: 25px;
    padding: 5px 10px;
    background-color: #2E8B57;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 990;
}

.chat-open-button:hover {
    background-color: #37a366;
}

.chat-open-button:focus {
    outline: none;
}

.chat-close-button {
    text-align: center;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 8%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-close-button:focus {
    outline: none;
}

.chat-row-self {
    justify-content: right;
}

.chat-row-ai {
    justify-content: left;
}

.chat-row-ai img {
    border: 2px solid #2E8B57;
    border-radius: 16px;
    background-color: rgb(230, 230, 230);
}

.chat-row-ai p {
    text-align: left;
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    margin-bottom: 0px;
    padding: 4px;
    border-radius: 10px;
    margin-right: 30px;
    word-wrap: break-word;
}

.chat-row-self p {
    text-align: left;
    border-radius: 8px;
    background-color: #82f984;
    margin-bottom: 0px;
    padding: 6px;
    border-radius: 10px;
    margin-left: 30px;
    word-wrap: break-word;
}