/* 画面全体を薄暗くする */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modalの枠を作成 */
#content {
  z-index: 2;
  width: 80%;
  max-width: 500px;
  height: 93%;
  padding: 1em;
  background: #fff;
  padding-top: 5px;
}

/* 罰ボタンのスタイル */
.bi-x-circle {
  background-color: transparent; /* 背景色を透明にする */
  border: none; /* ボーダーを削除する */
  opacity: 1; /* 不透明度を100%にする */
}

/* TODO: スタイルの確認(Searchとの競合，timezone削除の影響) */
/* Modal内のフォーム各要素に適応されるスタイル */
.form-container input{
  width: 100%;
  margin-bottom: 6px;
}

.modal-label {
  padding: 0 !important;
  text-align: center;
  white-space: nowrap;
}

.modal-input {
  padding: 0.25em !important;
}

.form-control {
  width: 100%;
}

.gray-button {
  margin: 2px 1px;
  padding: 5px 5px;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: inherit;
  white-space: nowrap;
}

.gray-button:hover {
  background-color: #e0e0e0;
}

.green-button {
  margin: 2px 2px;
  padding: 5px 5px;
  background-color: #4CAF50;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: inherit;
  white-space: nowrap;
}

.green-button:hover {
  background-color: #45a049; /* ホバー時の色 */
}