#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  z-index: 2;
  width: 80%;
  max-width: 500px;
  height: 93%;
  padding: 1em;
  background: #fff;
  padding-top: 5px;
}

.form-container input{
  width: 100%;
}

#timezone {
  margin-bottom: 6px;
}

.bi-x-circle {
  background-color: transparent; /* 背景色を透明にする */
  border: none; /* ボーダーを削除する */
  opacity: 1; /* 不透明度を100%にする */
}

.modal-label {
  padding: 0 !important;
  text-align: center;
  white-space: nowrap;
}

.modal-input {
  padding: 0.25em !important;
}

.form-control {
  width: 100%;
}

.gray-button {
  margin: 2px 1px;
  padding: 5px 5px; /* パディングを調整して、文字とほぼ同じ大きさのボタンにする */
  background-color: #f0f0f0; /* 白やグレーっぽい色 */
  color: #333; /* テキストの色 */
  text-align: center;
  text-decoration: none;
  border: none; /* ボーダーを削除 */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: inherit; /* フォントサイズを継承 */
  white-space: nowrap;
}

.gray-button:hover {
  background-color: #e0e0e0; /* ホバー時の色 */
}

/* 新しいボタンのスタイル */
.green-button {  
  margin: 2px 2px;
  padding: 5px 5px; /* パディングを調整して、文字とほぼ同じ大きさのボタンにする */
  background-color: #4CAF50; /* 明るい緑色 */
  color: #ffffff; /* テキストの色 */
  text-align: center;
  text-decoration: none;
  border: none; /* ボーダーを削除 */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: inherit; /* フォントサイズを継承 */
  white-space: nowrap;
}

.green-button:hover {
  background-color: #45a049; /* ホバー時の色 */
}