    .custom-container {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      max-width: 600px;
      margin: 10px auto;
      margin-top: 50px;
      width: 96%;
    }

    .date-input {
      width: 100%;
      padding: 8px;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .category-select {
      width: 100%;
      padding: 8px;
      font-size: 16px;
      margin-bottom: 10px;
    }

    .search-button {
      width: 100%;
      padding: 5px 8px;
      font-size: 16px;
    }

    .login-button {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .reservation h2 {
      font-size: 28px;
      color: #333333;
      text-align: center;
    }

    .row {
      justify-content: center;
    }

    .yellow-tag {
      background-color: #FFF7E0;
      padding: 15px;
      border: 2px solid #FFD369;
      border-radius: 10px;
      margin: 20px auto;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-width: 400px;
    }

    .yellow-tag h4 {
      margin-bottom: 10px;
      color: #FFA500;
      font-size: 1.2rem;
    }

    .yellow-tag a {
      color: #0056b3;
      text-decoration: underline;
    }

    .yellow-tag a:hover {
      color: #0080ff;
    }