.content-item {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
}

.img-content img {
  max-width: 80%;
  align-items: right;
  height: auto;
}

.text-content {
  font-size: 16px;
  text-align: left;
}

.text-content h5{
  font-size: 20px;
  /* font-weight: bold; */
  text-align: center;
  
}

.text-content h5:first-letter {
  font-size: 2em;
  color: #7779d7;
  font-weight: bold;
}




/* リンク全体のスタイル */
.link-style {
  color: inherit; /* 親要素からの継承色を使用 */
  text-decoration: none; /* 下線を除去 */
}

/* リンクにホバーしたときのスタイル */
.link-style:hover {
  color: #ff4343;
  text-decoration: none; /* 下線を除去 */
}
