.main-content {
    min-height: calc(100vh - 260px);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.tab-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

.tab-title {
    margin-right: 50px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.tab-button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.reservation-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

.reservation-table th,
.reservation-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.reservation-table th {
    background-color: #f0f0f0;
    font-size: 15px;
}

.reservation-table td {
    font-size: 15px;
}

.reservation-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.home-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #072e59;
    color: #ffffff;
    text-decoration: none;
    border-radius: 45px;
    transition: background-color 0.3s ease;
    font-weight: bold;

}

.home-button:hover {
    background-color: #ababab;
    text-decoration: none;
    color: #ffffff;
}