/* 画面全体を薄暗くする */
#overlay-delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}



.logout-confirm-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
  /* モーダルの幅 */
  border-radius: 5px;
  text-align: center;
  /* テキストを中央揃え */
}

.cancel-button {
  margin: 2px 2px;
  padding: 5px 5px;
  background-color: #ffffff;
  color: cornflowerblue;
  text-align: center;
  /* border-color: cornflowerblue; */
  border: solid 0.5px cornflowerblue;
  text-decoration: none;

  border-radius: 5px;
  /* transition: background-color 0.3s ease; */
  font-size: inherit;
  white-space: nowrap;
}

.delete-button {
  margin: 2px 2px;
  padding: 5px 5px;
  background-color: #d13434;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: inherit;
  white-space: nowrap;

}