.sus-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  background-color: #f8f8f8;
  color: #333;
  width: 100%;
  box-sizing: border-box;
}

.sus-message {
  margin: 20px 0;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;
}